@import '../../theme/colors.scss';
@import '../../theme/constants.scss';

p,
h1,
h2,
h3,
h4,
li,
blockquote {
  color: $dark-text;

  &:visited {
    text-decoration: none;
  }
}

em {
  font-style: italic;
}

.dark {
  color: $dark-text;
}

.light {
  color: $light-text;
}

.caption {
  color: $dark-caption-text;
}

.lora {
  font-family: Lora, serif !important;
}

.spartan {
  font-family: Spartan, sans-serif !important;
}

.image-caption {
  text-align: center;
  font-style: italic;
}

h3 {
  font-size: 22px;
}

h2 {
  font-size: 32px;
  line-height: 40px;
}

h1 {
  font-size: 36px;
  line-height: 48px;
}

p,
li {
  font-size: 1.5rem;
  line-height: 2.4rem;
}

.weight-400 {
  font-weight: 400 !important;
}

.weight-700 {
  font-weight: 700 !important;
}

span.note-wrapper {
  position: relative;

  @media screen and (max-width: $break-mobile) {
    position: initial;
  }

  text-decoration: underline;

  &:hover {
    cursor: pointer;

    .note {
      display: inline;
    }
  }
}

em.note {
  background-color: $light-text;
  border: $dark-caption-text 1px solid;
  display: none;
  position: absolute;
  top: 25px;
  left: 50%;
  transform: translate(-50%, 0%);
  min-width: 250px;
  padding: 15px;
  max-width: 350px;

  @media screen and (max-width: $break-mobile) {
    transform: none;
    top: unset;
    right: 0;
    left: 0;
    margin: 25px auto;
  }
}
