p,
h1,
h2,
h3,
h4 {
  color: white;
}

.lora {
  font-family: Lora, serif !important;
}

.spartan {
  font-family: Spartan, sans-serif !important;
}

h3 {
  font-size: 20px;
}

h2 {
  font-size: 36px;
}

p {
  font-size: 12px;
}

.weight-400 {
  font-weight: 400 !important;
}

.weight-700 {
  font-weight: 700 !important;
}
