$half-transparent-dark-background: rgba(0, 0, 0, 0.2);
$demi-transparent-dark-background: rgba(0, 0, 0, 0.4);
$dark-text: #495057;
$dark-caption-text: #6c757d;
$light-text: #fff;
$grey-background: #343a40;
$black-text: #000;
