@import '../../theme/constants.scss';
@import '../../theme/colors.scss';

.article-page {
  margin: 100px 25%;

  @media screen and (max-width: $break-tablet) {
    margin: 80px 15%;
  }

  @media screen and (max-width: $break-mobile) {
    margin: 80px 8%;
  }

  &__markdown {
    display: flex;
    flex-direction: column;
  }
}

.article-page h2 {
  margin: 30px 0 20px 0;
  scroll-margin-top: 100px;
}

.article-page img {
  width: 100%;
  margin: 25px 0 15px 0;
}

.article-page blockquote {
  margin: 25px 20px 25px 20px;
  padding: 10px 20px 10px 20px;
  background-color: rgba(0, 0, 0, 0.03);
  border: $dark-caption-text 1px solid;
  border-radius: 5px;
  align-self: center !important;
}

.article-page h2 {
  align-self: flex-start;
}

.article-page p {
  align-self: flex-start;
}

.article-page ul {
  margin: 10px;
}

.article-page li {
  margin: 10px;
  list-style: initial;
}
