@import '../../theme/colors.scss';

.footer {
  min-height: 80px;
  background-color: $grey-background;
  align-items: center;
  display: flex;
  padding: 0 80px;
  align-items: center;

  &__social {
    margin-left: 20px;
    margin-top: 2px;
  }
}
