.preview {
  $c: &;

  &__title {
    margin: 28px 0;
    line-height: 30px;
  }

  &__image {
    border-radius: 5px;
  }

  &:hover {
    #{$c}__image {
      -webkit-transform: scale(1.2);
      -moz-transform: scale(1.2);
      -o-transform: scale(1.2);
      -ms-transform: scale(1.2);
      transform: scale(1.2);
    }
  }
}

.image-wrapper {
  height: 240;
  width: 350;
  overflow: hidden;
  border-radius: 5px;

  &__image {
    height: 240;
    width: 100%;
    background-position: center;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
}
