@import '../../theme/colors.scss';
@import '../../theme/constants.scss';

.navbar {
  display: flex;
  flex-direction: row;
  background-color: $half-transparent-dark-background;
  height: $navigation-bar-height;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;

  &__title {
    margin: auto 0;
  }

  &__right-block {
    position: absolute;
    right: 0px;
    top: 28px;
  }

  &__button {
    font-family: Spartan, sans-serif !important;
    background-color: transparent;
    border: none;
    font-size: 18px;
    color: white;
    font-weight: 600;
    margin-right: 30px;
  }
}
