@import '../../theme/colors.scss';
@import '../../theme/constants.scss';

.navbar {
  display: flex;
  flex-direction: row;
  background-color: $half-transparent-dark-background;
  height: $navigation-bar-height;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;

  &__title {
    margin: auto 0;
  }
}
