@import '../../theme/colors.scss';

.navbar {
  display: flex;
  flex-direction: row;
  background-color: $half-transparent-dark-background;
  height: 80px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  padding: 0 80px;

  &__title {
    margin: auto 0;
  }
}
